#general *{
	box-sizing: border-box;
}

#general input{
	height: auto;
}

#chatpirate-logotype{
	display: block;
	width: 235px;
	height: 62px;
	background-image: url("logo.png");
}

.chatpirate-signup{
	font-size: 16px;
	margin-top: 20px;
}

#save_chatpirate_setting{
	display: block;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	background: none;
	border: 1px solid #000;
	font-size: 15px;
	padding: 5px 20px;
	margin-left: 288px;
}

#save_chatpirate_setting:hover{
	background-color: #000000;
	color: #ffffff;
	box-shadow: none;
	text-shadow: none;
}

.loading{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.8) none;
	display: none;
	z-index: 1000;
}

.loading::before{
	content: "";
	display: block;
	width: 100px;
	height: 100px;
	font-size: 10px;
	text-indent: -9999em;
	border-width: 1.1em;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) #000;
	animation: 1.1s linear 0s normal none infinite running load8;
	border-radius: 50%;
	animation: 1.1s linear 0s normal none infinite running load8;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	top: 30%;
}

.alert{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 20px;
	margin-bottom: 10px;
}

.alert.error{
	background-color: #FFE2E4;
	color: #D27C82;
	border-left: 5px solid #CB6F76;
}

.alert.success{
	background-color: #DDF0DE;
	color: #72C279;
	border-left: 5px solid #72C279;
}

#notifications{
	width: 386px;
}